---
import ProjectCard from "./ProjectCard/ProjectCard.astro";
import "./Projects.css";

const projects = [
  {
    title: "",
    description:
      "",
    image: "projects/img/aerolab.webp",
    video: "projects/video/aerolab.mp4",
    github: "",
    demo: "",
    technologies: [
      "Nextjs",
      "React",
      "Css",
      "Typescript",
      "React Testing Library",
      "Jest",
      "Figma",
    ],
  },
  {
    title: "",
    description: "",
    image: "projects/img/buscamina.webp",
    video: "projects/video/buscamina.mp4",
    github: "",
    demo: "",
    technologies: ["React", "Css", "Typescript"],
  },
  {
    title: "",
    description: "",
    image: "/projects/img/neongiphy.webp",
    video: "/projects/video/neongiphy.mp4",
    github: "",
    technologies: ["Next.js", "Typescript", "Sass", "Giphy API"],
  },
  {
    title: "",
    description:
      "",
    image: "/projects/img/pokedex.webp",
    video: "/projects/video/pokedex.mp4",
    github: "",
    demo: "",
    technologies: ["React.js", "Chakra-UI", "JavaScript", "Pokeapi", "React-Router"],
  },
];
---

<div class="projects-container">
  <!-- {projects.map((project) => <ProjectCard {...project} />)} -->
   Proximamente
</div>
