---
import { Icon } from "astro-icon/components";
import ContactCard from "../ContactCard.astro";
import CopyToClipboard from "../../CopyToClipboard/CopyToClipboard.astro";
import "./ContactInfo.css";

const contactInfo = [
  {
    icon: "mdi:email",
    value: "fransorice1@gmail.com",
    href: "mailto:fransorice1@gmail.com",
  },
  {
    icon: "mdi:whatsapp",
    value: "+54 9 341 5555-273",
    href: "https://wa.me/5493415555273?text=Hola%20Franco%2C%20vi%20tu%20portfolio%20y%20me%20gustar%C3%ADa%20contactarte.",
  },
  {
    icon: "mdi:linkedin",
    value: "franco-sorice",
    href: "https://www.linkedin.com/in/franco-sorice/",
  },
];
---

<ContactCard title="Información de contacto">
  <ul class="contact-list">
    {
      contactInfo.map((item) => (
        <li class="contact-item">
          <a href={item.href} target="_blank" rel="noopener noreferrer">
            <Icon name={item.icon} />
            {item.value}
          </a>
          <CopyToClipboard value={item.value} />
        </li>
      ))
    }
  </ul>
</ContactCard>
